body
{
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
    background-color: rgb(158, 190, 192);
    text-align: right;
    direction: rtl;
}

img
{
    border-radius: 50%;
}

p1
{
    color: rgb(55, 55, 99);
    font-size: 18pt;
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
    text-align: right;
}

h1
{
    color: rgb(55, 55, 99);
    font-weight: bold;
    font-size: 24pt;
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
    text-align: right; 
}

a:link
{
    font-size: 24pt;
    color: rgb(55, 55, 99);
    background-color: transparent;
    text-decoration-line: none;
}

a:hover
{
    font-size: 26pt;
    color: rgb(55, 55, 99);
    background-color: transparent;
    text-decoration-line: none;
}

a:visited
{
    font-size: 24pt;
    color: rgb(96, 4, 133);
    background-color: transparent;
    text-decoration-line: none;
}

nav
{
    text-align: center;
    font-size: 24pt;
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
    text-decoration-line: none;
}

ul
{
    list-style-type: circle;
    color: rgb(55, 55, 99);
    font-size: 18pt;
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
    text-align: right;   
}

input, instruction, button
{
    color: rgb(55, 55, 99);
    font-size: 18pt;
    font-family: 'b badr', 'b koodak', 'b nazanin', 'a kavir';
}


footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    font-size: 24pt;
    text-align: center;
    color: rgb(55, 55, 99);
    font-family: 'Tahoma', 'Consolas', 'Arial';
 }